<footer class="container-fluid footer">
    <div class="row row-cols-1">
        <!-- footer head part -->
        <div class="col-sm d-none d-sm-block footer-head">
            <div class="container d-block align-items-center">
                <div class="row brand-icons">
                    <div class="col">
                        <a href="/notfound"><img class="img-fluid" src="/images/icons/Bexim@2x.png" alt="Bexim Clothes Brand"></a>
                    </div>
                    <div class="col">
                        <a href="/notfound"><img class="img-fluid" src="/images/icons/Lighton@2x.png" alt="Lighton Clothes Brand"></a>
                    </div>
                    <div class="col">
                        <a href="/notfound"><img class="img-fluid" src="/images/icons/Dismis@2x.png" alt="Dismis Clothes Brand"></a>
                    </div>
                    <div class="col">
                        <a href="/notfound"><img class="img-fluid" src="/images/icons/Rosimo@2x.png" alt="Rosimo Clothes Brand"></a>
                    </div>
                    <div class="col">
                        <a href="/notfound"><img class="img-fluid" src="/images/icons/Dallas@2x.png" alt="Dallas Clothes Brand"></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- footer main body -->
        <div class="col footer-body">
            <div class="container">
                <div class="row information">
                    <div class="col-sm-6 col-lg-3 brand-logo-info pt-4 pe-5">
                        <img src="/images/icons/Logo_white@2x.png" alt="Brand logo">
                        <p class="d-none d-sm-block">
                            Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit. Praesent enim quam, ullamcorper vel tellus vitae,
                            tempus fringilla lectus. Donec maximus justo eu nisl
                            convallis iaculis. Aenean laoreet.
                        </p>
                        <div class="row d-flex align-items-center">
                            <div class="col-sm-6">
                                <h6>Follow Us</h6>
                            </div>
                            <div class="col-6 d-none d-sm-block">
                                <hr>
                            </div>
                            <div class="social-media-icons">
                                <a href="http://twitter.com"><i class="fab fa-twitter"></i></a>
                                <a href="http://facebook.com"><i class="fab fa-facebook-f"></i></a>
                                <a href="Http://instagram.com"><i class="fab fa-instagram"></i></a>
                                <a href="http://pinterest.com"><i class="fab fa-pinterest-p"></i></a>
                                <a href="http://likedin.com"><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3 contact-info pt-4 ps-3 d-none d-lg-block">
                        <div class="title">Contact Info</div>
                        <div class="address">
                            <h6>Address:</h6>
                            <p>Solna Business Park</p>
                            <p>Feni-2500, Stockholm</p>
                        </div>
                        <div class="phone">
                            <h6>Phone:</h6>
                            <p>+08-123456789</p>
                            <p>+08-123456789</p>
                        </div>
                        <div class="email">
                            <h6>Email:</h6>
                            <p>support@website.com</p>
                            <p>info@website.com</p>
                        </div>

                    </div>
                    <div class="col-sm-6 col-lg-3 useful-links pt-4 ps-3 d-none d-sm-block">
                        <div class="title">Useful Links</div>
                        <ul>
                            <li><a href="/notfound">Privacy Policy</a></li>
                            <li><a href="/notfound">Terms & Conditions</a></li>
                            <li><a href="/notfound">Contact Us</a></li>
                            <li><a href="/notfound">Our Sitemap</a></li>
                            <li><a href="/notfound">Latest News</a></li>
                            <li><a href="/notfound">Returns</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-lg-3 pt-4 d-none d-lg-block">
                        <div class="instagram">
                            <div class="title">Recent Instagram</div>
                            <div class="grid3x3">
                                <div><img src="/images/icons/Instagram-1@2x.png" alt="Instagram post image"></div>
                                <div><img src="/images/icons/Instagram-1@2x.png" alt="Instagram post image"></div>
                                <div><img src="/images/icons/Instagram-1@2x.png" alt="Instagram post image"></div>
                                <div><img src="/images/icons/Instagram-1@2x.png" alt="Instagram post image"></div>
                                <div><img src="/images/icons/Instagram-1@2x.png" alt="Instagram post image"></div>
                                <div><img src="/images/icons/Instagram-1@2x.png" alt="Instagram post image"></div>
                                <div><img src="/images/icons/Instagram-1@2x.png" alt="Instagram post image"></div>
                                <div><img src="/images/icons/Instagram-1@2x.png" alt="Instagram post image"></div>
                                <div><img src="/images/icons/Instagram-1@2x.png" alt="Instagram post image"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- footer bottom part -->
        <div class="col footer-bottom">
            <div class="container">
                <div class="row d-flex align-items-center">
                    <div class="col-md-6 bottom-left">
                        © Copyright 2020 KenKata
                    </div>
                    <div class="col-md-6 d-none d-sm-block bottom-right">
                        <div class="row">
                            <div class="col"><img class="img-fluid" src="/images/icons/mastercard@2x.png" alt="Mastercard Icon"></div>
                            <div class="col"><img class="img-fluid" src="/images/icons/payoneer@2x.png" alt="Mastercard Icon"></div>
                            <div class="col"><img class="img-fluid" src="/images/icons/paypal@2x.png" alt="Mastercard Icon"></div>
                            <div class="col"><img class="img-fluid" src="/images/icons/visa@2x.png" alt="Mastercard Icon"></div>
                            <div class="col"><img class="img-fluid" src="/images/icons/discover@2x.png" alt="Mastercard Icon"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>


@code {

}
