<div id="InfoBanner">
    
    <button class="InfoButton btn" @onclick='()=>NavManager.NavigateTo("/notfound")'>
        <div class="InfoButtonContent">
            <img class="InfoButtonIcon" src="/images/icons/shipping icon.svg">
            <div class="InfoButtonText">
                <div class="InfoButtonHeadline">Free Shipping</div>
                <div>For a local customer, we provide free shipping facility</div>
            </div>
        </div>
    </button>    

    <button class="InfoButton btn" @onclick='()=>NavManager.NavigateTo("/notfound")'>
        <div class="InfoButtonContent">
            <img class="InfoButtonIcon" src="/images/icons/24 icon.svg">
            <div class="InfoButtonText">
                <div class="InfoButtonHeadline">24/7 support</div>
                <div>For any inquiry, we are available 24 hours every day</div>
            </div>
        </div>
    </button>

    <button class="InfoButton btn" @onclick='()=>NavManager.NavigateTo("/notfound")'>
        <div class="InfoButtonContent">
            <img class="InfoButtonIcon" src="/images/icons/payment icon.svg">
            <div class="InfoButtonText">
                <div class="InfoButtonHeadline">Online payment</div>
                <div>You can pay quickly and easily with our online payment system</div>
            </div>
        </div>
    </button>

    <button class="InfoButton btn" @onclick='()=>NavManager.NavigateTo("/notfound")'>
        <div class="InfoButtonContent">
            <img class="InfoButtonIcon" src="/images/icons/fast delivery.svg">
            <div class="InfoButtonText">
                <div class="InfoButtonHeadline">Fast delivery</div>
                <div>We understand your urgency and we deliver in a fast way</div>
            </div>
        </div>
    </button>

</div>

@code {

}
